<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MK1 catShare</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="/img/filecat.png" id="icon" alt="Website Icon" />
                <p style="font-weight: bold;">MK1 catShare</p>
            </div>

            <p>Welcome to the alternative MK1 script sharing portal!</p>
            <p class="fadeIn second">Download the patcher from this repo:</p>
            <form action="https://crkatri.github.io/egg/" method="GET">
                <input type="submit" class="fadeIn second" value="Download">
            </form>

            <p class="fadeIn third">Currently hosting <%= count %> scripts.</p>

            <!-- TBD! -->
            <!-- <p class="fadeIn third">To browse top uploads, go to <a href="/uploads">Uploads</a>.</p> -->

            <div id="formFooter">
                <a class="underlineHover" href="https://twitter.com/manualmanul">(c) Manual 2020</a>
                <p>MK1 is (c) <span style="color: transparent; text-shadow: 0 0 0 green;">🥚</span>Castyte 2020</p>
            </div>
        </div>
</body>

</html>
